// variables

$layoutWidth: 1000px;
$breakpoint: 767px;
$navHeight: 60px;


// colors

$ltGray: #eeeae6;
$blueAccentLt: #8db1ce;
$blueAccentDk: #5d99b6;


// breakpoints

@mixin sp-only {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin pc-only {
  @media (min-width: $breakpoint + 1) {
    @content;
  }
}
@mixin link {
  &:link,
  &:visited,
  &:hover,
  &:active {
    @content;
  }
}


// resets

* {
  box-sizing: border-box;
  line-height: 1.7;
  letter-spacing: 1px;
  @include font_NotoSans;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
div, p {
  margin: 0;
}
a {
  @include link {
    color: $blueAccentDk;
    text-decoration: none;
  }
}


// utility classes

.layout {
  width: 100%;
  max-width: $layoutWidth;
  margin: 0 auto;
  @include sp-only {
    padding: 0 1rem;
  }
}

.txt-bold {
  font-weight: bold;
}
.txt-center {
  text-align: center;
}

.hide-sp {
  @include sp-only {
    display: none !important;
  }
}
.hide-pc {
  @include pc-only {
    display: none !important;
  }
}

.blue-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  font-size: 1.2rem;
  background-color: #e8f1f7;
}

.image {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: fadeIn 0.8s;
  animation: fadeIn 0.8s;
  visibility: visible !important;
}

@keyframes fadeIn {
  0%  {opacity:0}
  100%{opacity:1}
}
