$layoutWidth: 1000px;
$breakpoint: 767px;

@mixin sp-only {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin pc-only {
  @media (min-width: $breakpoint + 1) {
    @content;
  }
}

.layout {
  max-width: $layoutWidth;
  margin: 0 auto;
  @include sp-only {
    margin: 0 10px;
  }
}
.txt-bold {
  font-weight: bold;
}
.txt-center {
  text-align: center;
}

.hide-sp {
  @include sp-only {
    display: none;
  }
}
.hide-pc {
  @include pc-only {
    display: none;
  }
}
