.ns-breadcrumb {
  @include sp-only {
    display: none;
  }
  margin: 1rem 0;
  font-size: 0.8rem;
  .link {
    &::after {
      content: ' >';
      position: relative;
      top: -1px;
      padding: 0 1rem;
      color: #000000;
    }
  }
}
