.arrow-button {
  @keyframes animateButtonArrow {
    0% {
      width: 0px;
    }
    100% {
      width: 82px;
    }
  }

  display: flex;
  align-items: center;
  width: 268px;
  height: 70px;
  margin-left: 24px;
  padding: 0.5rem 0.5rem 0.5rem 84px;
  font-size: 0.9rem;
  font-family: arial;
  text-align: left;
  color: #000000;
  @include link {
    color: #000000;
  }
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -24px;
    width: 82px;
    height: 8px;
    border-right: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
    transform: translateY(-50%) skewX(45deg);
  }
  &:hover {
    border-color: #000000;
    &::before {
      border-color: #000000;
      animation: animateButtonArrow 0.5s;
    }
  }
}

.button {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  min-width: 209px;
  max-height: 86px;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.button--blue {
  color: #ffffff;
  @include link {
    color: #ffffff;
  }
  border: 1px solid $blueAccentLt;
  background-color: $blueAccentLt;
  transition: background-color 0.2s;
  &:hover {
    background-color: $blueAccentDk;
  }
}

.button--black-ghost {
  color: #333333;
  @include link {
    color: #333333;
  }
  border: 1px solid #333333;
  transition: color 0.2s;
  &:hover {
    color: #000000;
    border-color: #000000;
  }
}

.button--disabled {
  color: #bbbbbb;
  @include link {
    color: #bbbbbb;
  }
  border: 1px solid #bbbbbb;
  cursor: not-allowed;
  &:hover {
    color: #bbbbbb;
    border-color: #bbbbbb;
  }
}
