.ns-contact {
  .contact-h2 {
    padding: 2rem 0;
    text-align: center;
    @include font_NotoSerif;
  }
  .inner {
    display: flex;
    @include sp-only {
      flex-direction: column;
      margin: 2rem 0;
    }
    @include pc-only {
      flex-direction: row;
      margin: 3rem -2rem;
    }
  }
  .inner-half {
    @include sp-only {
      flex: 0 1 100%;
    }
    @include pc-only {
      flex: 0 1 50%;
      padding: 0 2rem;
    }
  }
  .phone-number {
    font-size: 1.5rem;
  }
  .call-button {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    svg {
      height: 30px;
      width: 30px;
      margin-right: 10px;
      fill: #ffffff;
    }
  }
  .image {
    width: 100%;
  }
  .button-container {
    margin-bottom: 5rem;
    text-align: center;
  }
}
