.ns-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 213px);
  & + .ns-footer .scroll-to-top-button {
    display: none;
    color: red;
  }
}
