.ns-error {
  .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
.ns-error + .ns-footer .scroll-to-top-button {
  display: none;
}
