.ns-home {
  .ns-nav {
    background-color: rgba(255, 255, 255, 0.7);
    .nav-menu {
      @include sp-only {
        background: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1));
      }
    }
    .nav-item__submenu {
      background: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9));
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .slider-container {
    position: relative;
    @include sp-only {
      height: 120vw;
    }
    @include pc-only {
      height: 50vw;
    }

    .slide {
      position: absolute;
      width: 100%;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;

      .slide-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        .slide-title {
          line-height: 1.2;
          @include font_NotoSerif;
          @include sp-only {
            font-size: 1.5rem;
          }
          @include pc-only {
            font-size: 2.5rem;
          }
        }
        .slide-description {
          line-height: 1.5;
          @include font_NotoSerif;
          padding-top: 2rem;
          font-size: 1rem;
        }
      }
    }

    .scroll {
      @media(max-width: 940px) {
        display: none;
      }
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0;
    }

    .scroll__text {
      color: white;
      transform: rotate(-90deg);
    }
    
    .scroll__arrow {
      width: 2px;
      height: 80px;
      margin: 30px auto 0;
      position: relative;
      overflow: hidden;
    }
    
    .scroll__arrow::before {
      content: '';
      width: 2px;
      height: 80px;
      margin: 50px auto 0;
      background-color: white;
      position: absolute;
      top: -150px;
      animation: arrow 2.5s ease 0s infinite normal;
    }
    
    @keyframes arrow {
      0%   {transform: translate3d(-50%, 0, 0)}
      60%  {transform: translate3d(-50%, 100px, 0)}
      100% {transform: translate3d(-50%, 100px, 0)}
    }

  }

  .section {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .section--no-top-padding {
    padding-top: 0;
  }

  .andc-background {
    margin: 3rem 0;
    padding: 0.5rem 0;
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .brown-background {
    background-color: #f2f1ee;
  }

  .grey-background {
    background-color: #f8fafd;
  }

  .main-title {
    @include sp-only {
      font-size: 1.5rem;
    }
    @include pc-only {
      font-size: 2.5rem;
    }
    @include font_NotoSerif;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .button-container {
    padding-top: 1.5rem;
    text-align: center;
  }

  .pickup-item {
    display: flex;
    justify-content: center;

    .flex-child {
      @include sp-only {
        flex: 0 1 100%;
      }
      @include pc-only {
        flex: 0 1 50%;
      }
    }

    .image {
      margin: 0 auto;
      width: 80%;
      &:first-child {
        margin-bottom: 1rem;
      }
      @include sp-only {
        margin-bottom: 2rem;
      }
    }

    .description-head {
      padding: 0.3rem 0 0.3rem 1rem;
      border-left: 4px solid #d3dbd7;
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 1.4rem;
      @include font_NotoSerif;
    }

    .green-text {
      padding: 0.5rem 1.5rem;
      margin-bottom: 2rem;
      background-color: #d3dbd7;
      color: #476556;
    }

    .text {
      margin-bottom: 1rem;
    }

    .button-container {
    }
  }

  .lineup-wrapper {
    @include sp-only {
      margin-top: 2rem;
      padding-bottom: 3rem;
    }
    @include pc-only {
      margin-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  .lineup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .article-wrapper {
      max-width: 400px;
      @include sp-only {
        flex: 0 1 100%;
        margin-bottom: 2rem;
      }
      @include pc-only {
        flex: 0 1 33.33333%;
        margin-bottom: 2rem;
      }
    }
    .article {
      display: flex;
      flex-direction: column;
      height: 100%;
      @include pc-only {
        padding: 1rem;
      }
    }
    .above-button {
      flex: 0 1 auto;
      text-align: center;
      .image {
        margin-bottom: 1rem;
        width: 100%;
      }
      .title {
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #9dbdd5;
        color: #9dbdd5;
        font-weight: bold;
        text-align: center;
      }
      .description {
        margin-bottom: 1rem;
      }
    }
    .lineup__button {
      flex: 0 1 auto;
      margin-top: auto;
      .arrow-button {
        margin-left: 0;
      }
    }

  }

  .technology {
    .description {
      margin-bottom: 5rem;
    }

    .button-container {
      display: flex;
      justify-content: center;
    }

    .points {
    }
    .point {
      position: relative;
      width: 100%;
      height: 42.6%;
      max-width: 1280px;
      margin: 0 auto;
      @include sp-only {
        margin-bottom: 3rem;
      }
      border: 1px solid transparent;
    }
    .point__blue-bg {
      position: relative;
      background-color: #e9f1f7;
      @include sp-only {
        margin-top: 5rem;
        padding: 2rem;
      }
      @include pc-only {
        width: 50%;
        min-height: 416px;
        margin-top: 10%;
        padding: 68px 4%;
      }
    }
    .point__image {
      @include sp-only {
        display: block;
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
      }
      @include pc-only {
        position: absolute;
        top: 0;
        width: 50%;
      }
    }
    .point__logo {
      position: absolute;
      @include sp-only {
        left: 50%;
        transform: translate(-50%, 0);
        top: -5rem;
        max-width: 50%;
      }
    }
    .point__title {
      font-size: 1.2rem;
      line-height: 2rem;
      padding-left: .5rem;
      margin-bottom: 2rem;
      border-left: 3px solid #d3dbd7;
      @include font_NotoSerif;
    }
    .point__square {
      position: absolute;
      background-color: #f8fbfd;
      mix-blend-mode: multiply;
      @include sp-only {
        display: none;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE fix */
        z-index: -1;
      }
    }
    .point1 {
      @include pc-only {
        margin-bottom: 112px;
      }
      .point__image {
        left: 0;
      }
      .point__blue-bg {
        @include sp-only {
        }
        @include pc-only {
          margin-left: auto;
          margin-right: 72px;
          padding-left: calc(8.5% + 32px);
        }
      }
      .point__logo {
        @include pc-only {
          top: -80px;
          left: calc(14% + 32px);
        }
      }
      .point__square {
        top: 23px;
        right: 0;
        width: 230px;
        height: 168px;
      }
    }
    .point2 {
      @include pc-only {
        margin-bottom: 138px;
      }
      .point__image {
        right: 0;
      }
      .point__blue-bg {
        @include sp-only {
        }
        @include pc-only {
          margin-left: 89px;
          margin-right: auto;
          padding-right: calc(8.5% + 32px);
        }
      }
      .point__logo {
        @include pc-only {
          top: -80px;
          left: 32px;
        }
      }
      .point__square {
        top: 0;
        left: 0;
        width: 235px;
        height: 168px;
      }
    }
    .point3 {
      @include pc-only {
        margin-bottom: 50px;
      }
      .point__image {
        left: 0;
      }
      .point__blue-bg {
        @include sp-only {
        }
        @include pc-only {
          margin-left: auto;
          margin-right: 72px;
          padding-left: calc(8.5% + 32px);
        }
      }
      .point__logo {
        @include pc-only {
          top: -95px;
          left: calc(14% + 32px);
        }
      }
      .point__square-1 {
        top: -128px;
        right: 0;
        width: 140px;
        height: 168px;
      }
      .point__square-2 {
        bottom: -54px;
        left: 0;
        width: 340px;
        height: 118px;
      }
      .point__square-3 {
        bottom: -90px;
        left: 282px;
        width: 120px;
        height: 120px;
      }
    }
  }

  .news {
    max-width: 800px;
    margin: 0 auto;
    @include sp-only {
      margin-bottom: 3rem;
    }
    @include pc-only {
      margin-bottom: 5rem;
    }

    .news-item {
      display: flex;
      align-items: flex-start;
      padding: 2rem 1rem;
      border-bottom: 1px solid black;
      @include sp-only {
        padding: 2rem 0;
      }
    }

    .news-item__date {
      padding-right: 2rem;
    }
  }

}
