.ns-inquiry {
  .h1 {
  }
  .h2 {
  }
  .form-status {
    display: flex;
  }
  .form-status__step {
    flex: 1 1 auto;
    &:nth-child(2) {
      margin: 0 1rem;
    }
    border: 1px solid #000000;
    .form-status__step--active {
      background-color: $blueAccentLt;
      font-weight: bold;
    }
  }
}
