.ns-product {
  display: flex;

  .nav {
    flex: 0 0 15rem;
    height: 100%;
    padding: 2rem 2rem 2rem 4rem;
    background-color: #f2f1ee;

    .nav__title {
      display: block;
      width: 100%;
      padding: 2rem 0;
      border-bottom: 1px solid black;
      font-size: 1.5rem;
    }

    .nav__item {
      padding-top: 2rem;
    }
  }
  
  .product-main {
    // margin-left: -1rem;
  }

  .flex-child {
    flex: 0 0 15rem;
  }
}
