.ns-product {
  
  $sideNavMargin: 3rem;
  $sideNavWidth: 332px;

  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin-right: $sideNavMargin;
    z-index: 9;
    overflow-y: scroll;
    -ms-overflow-style: none; // hide scrollbar on IE and Edge
    scrollbar-width: none; // hide scrollbar on Firefox
    &::-webkit-scrollbar {
      display: none; // hide scrollbar on Chrome
    }
    @media (max-width: + 2 * $sideNavWidth + $layoutWidth) {
      width: calc(#{$sideNavWidth} - #{$sideNavMargin});
    }
    @media (min-width: + 2 * $sideNavWidth + $layoutWidth + 1) {
      width: calc(50vw - 500px - #{$sideNavMargin});
    }

    .side-nav__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $navHeight 0 230px;
      background-color: #f2f1ee;
    }

    .side-nav__inner-top {
      padding: 2rem 0 0 1rem;
    }

    .side-nav__inner-bottom {
      padding-top: 2rem;
      .button {
        padding: 1.5rem 1rem;
      }
    }

    .side-nav__title {
      width: 100%;
      max-width: $sideNavWidth - 64px;
      padding: 0 2rem 1rem 0;
      border-bottom: 1px solid black;
      font-size: 1.5rem;
    }

    .side-nav__item {
      width: 100%;
      max-width: $sideNavWidth - 64px;
      padding-top: 2rem;
      &::before {
        content: 'ー';
        color: $blueAccentDk;
      }
    }

  }

  .product-main {
    @media (max-width: 2 * $sideNavWidth + $layoutWidth) and (min-width: $breakpoint + 1) {
      width: calc(100vw - #{$sideNavWidth} - #{$sideNavMargin});
      margin-left: $sideNavWidth;
      margin-right: auto;
    }
  }

  .product-title {
    margin: 1.5rem 0;
    @include sp-only {
      padding: 0.9rem 0.6rem;
      font-size: 1rem;
    }
    @include pc-only {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
    line-height: 1.7;
    @include font_NotoSerif;
    font-weight: normal;
    border-top: 3px solid #d9d5a0;
    border-bottom: 3px solid #d9d5a0;
    background-color: #fffdf4;
  }

  .product-description {
    margin-bottom: 2rem;
  }

  .product-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    .product-slider__image-wrapper {
      width: 100%;
      padding-bottom: 71.94%;
      background-color: #f2f1ee;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
    }

    .product-slider__image {
      position: absolute;
      top: 0;
      left: 50%;
      max-width: 960px;
      height: 100%;
      transform: translate(-50%, 0);
    }

    .product-slider__button {
      flex: 0 0 20px;
      position: relative;
      background-color: #9fa1a8;
      z-index: 9;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 8px #666666;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(-50%, 0);
        width: 10px;
        height: 10px;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
    }

    .product-slider__button--left::after {
      left: 8px;
      transform: rotate(-45deg);
    }

    .product-slider__button--right::after {
      right: 8px;
      transform: rotate(135deg);
    }
  }

  .sub-slides {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 1rem;

    @include sp-only {
      width: 100%;
    }
    @include pc-only {
      width: 50%;
    }

    .sub-slide {
      flex: 0 1 33.33%;
      padding-bottom: 33.33%;
      position: relative;
    }
    
    .sub-slide__image {
      position: absolute;
      top: 7%;
      left: 7%;
      width: 86%;
      height: 86%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  .product-buttons {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    @include sp-only {
      margin-bottom: 2rem;
    }
    @include pc-only {
      margin-bottom: 3rem;
    }
    .arrow-button {
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .middle__title {
    @include sp-only {
      margin-bottom: 1rem;
    }
    @include pc-only {
      margin-bottom: 2rem;
    }
    @include font_NotoSerif;
  }

  .fashion {
    background-color: #f8fafd;
    margin-bottom: 2rem;
    @include sp-only {
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 2rem 1rem 1rem;
    }
    @include pc-only {
      padding: 2rem;
    }

    .fashion-block {
      display: flex;
      flex-wrap: wrap;
      @include sp-only {
        padding: 0.5rem 2rem 0;
      }
      @include pc-only {
        max-width: 560px;
        margin: -2rem auto 0;
      }
    }

    .fashion-block__img-container {
      @include sp-only {
        flex: 0 1 100%;
        max-width: 450px;
        margin: 0 auto;
      }
      @include pc-only {
        flex: 0 1 50%;
      }
    }

    .fashion-block__img {
      width: 100%;
      height: 100%;
      @include sp-only {
        padding-bottom: 2.5rem;
      }
      @include pc-only {
        padding: 1.5rem;
      }
    }
  }

  .features-section {
    margin-bottom: 3rem;

    .feature {
      display: flex;
      flex-wrap: wrap-reverse;
      @include sp-only {
        padding: 1rem 0;
      }
      @include pc-only {
        justify-content: center;
        padding: 1rem;
        max-width: 950px;
        margin: 0 auto;
      }
    }

    .feature__images {
      @include sp-only {
        flex: 0 1 100%;
      }
      @include pc-only {
        flex: 0 1 40%;
      }
      margin: 0 auto;
    }

    .feature__image-block {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      @include pc-only {
        flex: 0 1 40%;
        padding-right: 2.5rem;
      }
    }

    .feature__image {
      width: 100%;
      height: 100%;
      @include sp-only {
        padding: 1rem 2rem 0;
      }
    }

    .feature__caption {
    }

    .feature__text {
      @include sp-only {
        flex: 0 1 100%;
        margin-bottom: 1rem;
      }
      @include pc-only {
        flex: 0 1 60%;
      }
    }

    .feature__title {
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      font-size: 1.5rem;
      border-left: 3px solid #d3dbd7;
    }

    .feature__description {
      @include sp-only {
        padding: 0 2rem;
        text-align: center;
      }
    }
    .blue-highlight {
      background-color: #e1f4f5;
    }
  }

  .table-section {
    max-width: 50rem;
    margin: 0 auto;
    @include sp-only {
      margin-bottom: 1.5rem;
    }
    @include pc-only {
      margin-bottom: 3rem;
    }

    .table {
      border-collapse: collapse;
      border: 1px solid black;
    }

    .table__cell {
      width: 70%;
      border: 1px solid black;
      padding: 1rem;
    }

    .table__cell--header {
      width: 30%;
    }

    .link {
      text-decoration: underline;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 3; // above header
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    cursor: pointer;
    &::after {
      content: '\2715';
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background-color: rgba(0,0,0,0.5);
      @include sp-only {
        width: 4rem;
        height: 4rem;
        font-size: 1.5rem;
      }
      @include pc-only {
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
      }
    }

    .modal__content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 9999;
    }

    .modal__image {
      max-width: 100%;
    }
  }

  .ns-shop-section {
    @media (max-width: 2 * $sideNavWidth + $layoutWidth) and (min-width: $breakpoint + 1) {
      width: calc(100vw - #{$sideNavWidth} + #{$sideNavMargin});
      margin-left: calc(#{$sideNavWidth} - #{$sideNavMargin});
      margin-right: auto;
    }
  }
}
